body {
  padding: 0;
  margin: 0;
  background-color: #cccccc;
  background-image: url("./assets/MicrosoftTeams-image.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size:cover ;
  -webkit-background-size: cover;
}
.main {
  margin: 0;
  padding: 0;
}

::-webkit-input-placeholder {
  font-style: italic;
  font-size: medium;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 2px;
}

a {
  text-decoration: none;
}

/* :-moz-placeholder {
  font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
} */

/* .main{
    
} */

.headernew {
  margin-top: 15px;
}

.header-data {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-text {
  color: white;
  padding: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header-img {
  height: auto;
  width: 48px;
  padding: 8px;
}

.textp {
  color: #cccccc;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0 ;
  line-height: 1;
  font-family: monospace;
  font-weight: bold;
 
}

.formdata {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.formdetails {
  max-width: 400px;
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-text {
  margin: 8% 0;
  text-align: center;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}

.email {
  margin-bottom: 8px;
}

.password {
  margin-bottom: 0px;
}

#input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:focus {
  border: 1px solid #1670be;
  box-shadow: 0 0 4px #1670be;
  outline-offset: 0px;
  outline: none;
}

.emailinput {
  margin-bottom: 5px;
  border: 1px solid;
}
.passowrdinput {
  margin-bottom: 3%;
}

.btn {
  border: none;
  border-radius: 2px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: medium;
  width: 100%;
  padding: 10px;
  background: #3498db;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  background: #2980b9;
}

.btn:active {
  background: #2980b9;
  top: 2px;
}

.btn:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 60px;
}

.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8%;
}

.indented-checkbox-text {
  margin-left: 5px;
  font-size: 12px;
}

.forget {
  margin-left: auto; /* This pushes the "Forget password?" link to the right end */
  font-size: 12px;
}

.signup {
  text-align: center;
}

.text1 {
  margin-bottom: 0;
  padding: 12px;
}

#language-picker-select {
  border: none;
  background-color: transparent;
  outline: none;
  margin-left: 80%;
  font-family: cursive;
}

.footer {
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
  font-size: 13px;
  font-family: "Times New Roman", Times, serif;
}

@media screen and (max-width: 768px) {    
  .header-img {
    width: 30px;
  }

  .header-text {
    font-size: 18px;
  }

  .textp {
    font-size: 2vw;
  }

  .login-text {
    font-size: 20px;
  }

  .indented-checkbox-text {
    font-size: 10px;
  }

  .forget {
    font-size: 10px;
  }

  .text1 {
    padding: 8px;
  }

  .formdata {
    flex-direction: column; 
    margin-top: 8%; 
  }

  .formdetails {
    max-width: 90%;
  }

  /* .textp {
    font-size: 2vw;
    color: black ;;
  }

  body{
    background-image: none;
  } */
}
